@font-face {
  font-family: "NanumGothic";
  src: url(../fonts/NanumGothic-Bold.woff2) format("woff2");
  src: url(../fonts/NanumGothic-Bold.woff) format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "NanumGothic";
  src: url(../fonts/NanumGothic-Regular.woff2) format("woff2");
  src: url(../fonts/NanumGothic-Regular.woff) format("woff");
  font-weight: normal;
}