@import url(reset.css); 

.main-tittle {
  color: aqua;
}
h1 {
  color: blue;
}
.title__text {
  color: blueviolet;
}
[class*="__text"]{
  color: tomato;
}
#slova {
  color: aquamarine;
}
div.poem {
  color: darkblue;
}
.tittle.title__text {
  color: coral; 
} 
.tittle__container+p {
  color: black ;
} 
.text__block>p{
  color: blue;
}
.poem__tittle~p {
  color: brown;
}

/*.poem-lubit не спрацював бо є селектор всі div з класом poem*/
.poem-lubit,
.razom-paragraph {
  color: chartreuse;
}

.poem .poem__some-tittle {
  color: darkgreen;
}
/*h3 з класом poem__some-tittle не перезаписалися бо селектор класу має вищий приорітет*/
.poem h3 {
  color: chocolate;
}

.text__container p {
  color: deeppink;
}
.important-tex {
  color: magenta;
}